@font-face {
    font-family: 'ChirpRegular';
    src: local('ChirpRegular'), url(./src/assets/fonts/chirp-regular-web.ttf) format('ttf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
@font-face {
    font-family: 'ChirpMedium';
    src: local('ChirpMedium'), url(./src/assets/fonts/chirp-medium-web.ttf) format('ttf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}