.sidebar {
    position: fixed;
    width: 13%;
    padding-left: 7%;
    padding-right: 5%;
    height: 95vh;
}
.sidebar__item {
    display: flex;
    transform: scale(1.2);
    margin: 20px 10px 20px 0;
    border-radius: 100px;
    width: fit-content;
}

.sidebar__item:hover{
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}

.sidebar__itemImage {
    margin: 0 10px 0 10px;
}

.sidebar__itemTitle {
    font-size: 16px;
    margin: 10px 10px 10px 0;
    font-family: ChirpRegular, sans-serif;
}

.sidebar__tweetButton {
    background-color: rgba(29,161,242,1);
    width: 100%;
    align-self: center;
    border-radius: 100px;
    transform: scale(1.2);
    display: flex;
    justify-content: center;
}
.sidebar__tweetButton:hover {
     background-color: rgb(25, 141, 210);
     cursor: pointer;
 }
.sidebar__tweetButton > p {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 0;
    padding: 10px ;
    font-family: ChirpMedium, sans-serif;
}
